
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    height: 100%;
}

#minesweeper {
    background-color: #cccccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: min-content;
    height: min-content;
}

#board {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: solid black 4px;
}

.row {
    display: flex;
    flex-direction: row;
    font-family: Consolas, sans-serif;
    text-align: center;
}

.cell {
    border: 2px outset black;
    background-repeat: no-repeat;
    background-position: center;
}

.cell:hover {
    cursor: pointer;
    background-color: #bbbbbb;
    border: 2px inset black;
}

.checked {
    border: 2px solid #cccccc;
}

.bomb {
    background-image: url("img/bomb.png");
    background-repeat: no-repeat;
    background-position: center;
}